<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hello-world</property>
        <property name="connection.username">root</property>
        <property name="connection.password">percy123</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
         
        <!-- Use XML-based mapping metadata -->	
        <!-- <mapping resource="org.psrso.tuto_hibernate.cours_14.domain/Message.hbm.xml"/> -->
        
        <!-- Use Annotation-based mapping metadata -->
        <mapping class="org.perso.tuto_hibernate.cours_14.entity.Message"/>
    </session-factory>
</hibernate-configuration>















